body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: whitesmoke;
  background-color: rgb(40,40,40);
}

a {
  color: #00B7FF;
}

.navbar {
  justify-content: space-between;
}

#search-bar {
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.question-container, .reply-container {
  display: flex;
  justify-content: center;
  
}

#search-bar > input, #search-bar > button{
  font-size: 3vw;
  width: fit-content;
}

.question-contents, .reply-contents {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 900px;
}

.question-contents > input {
  padding: 8px 12px;
}

.question-title {
  padding: 8px 8px;
  padding-bottom: 0px;
  margin-top: 5px;
  border-radius: 12px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  /* padding-left: 20px; */
}

.question-text, .reply-text {
  padding: 15px;
  margin: 2px 0px 5px;
  border-radius: 30px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 10px;
  /* customize scrollbar */
}

#post-button {
  width: fit-content;
  font-size: 2vmin;
  border-radius: 10px;
  margin-bottom: 10px!important;
  margin-top: 0px!important;
  /*               ^^ this might break something in bootstrap */
}

.list-content {
  border: solid 1px;
  height: 150px;
  overflow: hidden;
}

.list {
  transition: all 0.2s;
}
.list:hover {
  cursor: pointer;
  transform: scale(1.02);
}

#show-container {
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#show-question {
  margin-bottom: 12px;
}

#new-reply {
  position: fixed;
  bottom: 0;
  
}

.answer-list {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 900px;
  max-height: 550px;
  overflow: auto;
}

.hide-answer-form {
  max-height: none;
}

.answer-container {
  width: 90vw;
  max-width: 900px;
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: 30px auto;
  margin: 9px 0 9px;
  height: fit-content;
}

#avatar-img {
  border-radius: 50%;
  height: 27px;
  grid-column: 1/2;
  grid-row: 1;
}

.answer-container > a {
  align-self: center;
  height: 33px;
  cursor: default;
}


.best-answer-boot {
  height: 29px;
  /* align-self: center; */
  border-radius: 0%;
  grid-column: 1/2;
  grid-row: 2;
  opacity: 0;
  transition: all 0.2s;
}

.best-answer-boot.show-boot {
  opacity: 1;
}

.best-answer-boot:hover {
  opacity: 1;
  cursor: pointer;
  
}


.answer {
  grid-column: 2/3;
  grid-row: 1/3;
  padding-left: 5px;
  padding-top: 5px;
}

.answer span {
  font-weight: bold;
  margin-right: 13px;
  color: rgb(167 138 255);
}

#show-question-kebab {
  z-index: 10;
  float: right;
  padding-top: 7px;
  padding-right: 2px;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

#show-question-kebab:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.hide-kebab {
  display: none;
}

#show-question:hover {
  cursor:default;
  transform: none;
}



.kebab-menu-items {
  display: none;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 100vh;
  height: 100vh;
  /* transition: all 1s ease; */
  width: 90vw;
  background-color: rgb(40,40,40);
  z-index: 20;
}

.show-menu {
  display: flex;
  top: auto;
}

.content-info > img {
  width: 30px;
  height: 30px;
}

.bug-icon, .boot-icon {
  width: 28px;
  float: right;
  margin-bottom: 8px;
}

.profile-img {
  width: 28px;
  float: left;
  border-radius: 50%;
}

.profile-info-span {
  padding-right: 8px;
}

.title-container > p {
  margin-top: 5px;
  padding-left: 35px;
  
}

.list-title {
  border: solid 2px;
  margin: 15px 0 0;
  padding: 8px 20px 8px 15px!important;
}




@media only screen and (max-width: 600px) {
  .answer-list {
    max-height: 450px;
  }
}