body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  justify-content: space-between;
}

#search-bar {
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.question-container, .reply-container {
  display: flex;
  justify-content: center;
  
}

#search-bar > input, #search-bar > button{
  font-size: 3vw;
  width: fit-content;
}

.question-contents, .reply-contents {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 900px;
}

.question-title {
  padding: 8px 20px;
  margin-top: 5px;
  border-radius: 12px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  /* padding-left: 20px; */
}

.question-text, .reply-text {
  padding: 15px;
  margin: 2px 0px 5px;
  border-radius: 30px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
  border-end-start-radius: 10px;
  /* customize scrollbar */
}

#post-button {
  width: fit-content;
  font-size: 2vmin;
  border-radius: 10px;
  margin-bottom: 10px!important;
  margin-top: 0px!important;
  /*               ^^ this might break something in bootstrap */
}

.list-title {
  border: solid 2px;
  margin: 15px 0 0;
}

.list-content {
  border: solid 1px;
  height: 150px;
  overflow: hidden;
}

.list {
  transition: all 0.2s;
}
.list:hover {
  cursor: pointer;
  transform: scale(1.02);
}

#show-container {
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#show-question {
  margin-bottom: 12px;
}

#new-reply {
  position: fixed;
  bottom: 0;
}

.answer-list {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 900px;
  max-height: 550px;
  overflow: auto;
}

.answer-container {
  width: 90vw;
  max-width: 900px;
  display: grid;
  grid-template-columns: 30px auto;
  margin: 9px 0 9px;
  height: fit-content;
}

.answer-container > img {
  border-radius: 50%;
  height: 27px;
  grid-column: 1/2;
}

.answer {
  grid-column: 2/3;
  padding-left: 5px;
  padding-top: 5px;
}

.answer span {
  font-weight: bold;
  margin-right: 13px;
}

#show-question-kebab {
  z-index: 10;
  float: right;
  padding-top: 7px;
  padding-right: 2px;
  opacity: 0.5;
}

#show-question:hover {
  cursor:default;
  transform: none;
}

#show-quesiton-kebab {
  transition: all 0.4s ease-in-out;
}

#show-question-kebab:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.kebab-menu-items {
  display: none;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 100vh;
  height: 100vh;
  /* transition: all 1s ease; */
  width: 90vw;
  background-color: white;
  z-index: 20;
}

.show-menu {
  display: flex;
  top: auto;
}

@media only screen and (max-width: 600px) {
  .answer-list {
    max-height: 450px;
  }
}